[remote "helm"]
    url = git@github.com:helm/charts.git
    fetch = +refs/heads/*:refs/remotes/helm/*
[remote "github"]
    url = git@github.com:huangyingw/helm-charts.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = helm
    branch = master
[merge]
	allow = true
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[commit]
	message = n
[vrun]
	silent = false
	async = false
[deploy]
	host = localhost
	path = ~/myproject/git/Kubernetes/helm-charts
[gdif]
	ignore = stable/mariadb/deploy.sh
	ignore = stable/nfs-server-provisioner/deploy.sh
	ignore = stable/wordpress/deploy.sh
